doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, height=device-height,initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        title Personal Account
    body.account-settings
        include ./navigation-mobile.pug
        main.account-main 
            include ./sidebar-temp.pug
            .account-content
                h1.account-content__header Статистика по платежам
                .account-content__filter-debts-container
                    .filter-container__header Фильтрация по датам:
                    form.stats-form 
                        label(for="paysInputStart").stats-form__label Начало:
                            input#paysInputStart.stats-form__input(type="text", name="paysFieldStart", placeholder="01.04.2021", required, readonly, autocomplete="off")
                        label(for="paysInputFinish").stats-form__label Конец:
                            input#paysInputFinish.stats-form__input(type="text", name="paysFieldFinish", placeholder="07.07.2021", required, readonly, autocomplete="off")
                        button(type="submit").stats-form__button Отфильтровать  
                    .account-content__info-table
                        .info-table__header-row
                            .info-table__header-column Услуга
                            .info-table__header-column Месяц
                            .info-table__header-column Год
                            .info-table__header-column Цена
                            .info-table__header-column Потребленный объем
                            .info-table__header-column Единица измерения
                            .info-table__header-column Сумма
                        .info-table__content-row 
                            .info-table__row-data Интернетпо тарифу 00_Минимальный 15000_300руб #1: Трафик (0.00 руб. Вх. 0.000 руб. Исх. 0.000 руб.)
                            .info-table__row-data Июнь
                            .info-table__row-data 2021
                            .info-table__row-data 0,00
                            .info-table__row-data 0.0222
                            .info-table__row-data мб.
                            .info-table__row-data 0,00
                        .info-table__content-row 
                            .info-table__row-data Интернетпо тарифу 00_Минимальный 15000_300руб #1: Трафик (0.00 руб. Вх. 0.000 руб. Исх. 0.000 руб.)
                            .info-table__row-data Июнь
                            .info-table__row-data 2021
                            .info-table__row-data 0,00
                            .info-table__row-data 0.0222
                            .info-table__row-data мб.
                            .info-table__row-data 0,00
        .calendar-layer.js--hidden    
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="https://github.com/jquery/jquery-ui/blob/master/ui/i18n/datepicker-ru.js")  
        script(src="./assets/js/main.min.js")  