doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, height=device-height,initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        title Личный Кабинет | Оплата
    body.account-settings
        include ./navigation-mobile.pug
        main.account-main
            include ./sidebar-temp.pug
            .account-content
                h1.account-content__header Оплата
                .account-content__pay-container
                    .pay-container__pay-block
                        .pay-block__header Моментальная оплата банковскими картами без комиссии
                        form.pay-form
                            label(for="payInputField").pay-form__label Сумма
                                input#payInputField(type="text", name="paymentField", placeholder="Введите сумму.." ).pay-form__input
                            button(type="submit").pay-form__button Оплатить
                section.account-content__pay-section 
                    .pay-section__header Дополнительные способы оплаты:
                    .pay-section__subheader Для оплаты используйте номер договора.
                    .pay-section__contract-text 
                        .contract-text__help-text  Ваш номер договора: 
                        .contract-text__contract-number BILL0000074
                    .pay-section__payment-options 
                        a(href='./option1.html').payment-options__option
                            img(src="./assets/images/static/payOption1.svg", alt="Сбербанк Оплата").payment-option__img 
                        a(href='./option2.html').payment-options__option 
                            img(src="./assets/images/static/payOption2.svg", alt="Сбербанк Оплата")  
                    .pay-section__noting-container
                        span.noting-container__beware-note Примечание:
                        |для оплаты через сбербанк онлайн зайдите «Интернет и ТВ», в поиске напишите «Тулун Телеком».
        script(src="./assets/js/main.min.js")  