doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        title Personal Account
    body.account-settings
        include ./navigation-mobile.pug
        main.account-main.statistic--mobile 
            include ./sidebar-temp.pug
            .account-content
                h1.account-content__header Статистика по платежам
                .account-content__filter-container.stats--mobile
                    //- span.slider-button.slider-button--next#nextStepSlider
                    //- span.slider-button.slider-button--prev.js--hidden#previousStepSlider
                    .filter-container__header Фильтрация по датам:
                    form.stats-form 
                        label(for="paysInputStart").stats-form__label Начало:
                            input#paysInputStart.stats-form__input(type="text", name="paysFieldStart", placeholder="01.04.2021", required, readonly, autocomplete="off")
                        label(for="paysInputFinish").stats-form__label Конец:
                            input#paysInputFinish.stats-form__input(type="text", name="paysFieldFinish", placeholder="07.07.2021", required, readonly, autocomplete="off")
                        button(type="submit").stats-form__button Отфильтровать  
                    .account-content__info-table.account-content__info-table--mobile
                        
                        .info-table__header-row
                            .info-table__header-column Номер операции
                            .info-table__header-column Дата операции
                            .info-table__header-column Сумма
                            .info-table__header-column Описание
                        .info-table__content-row 
                            .info-table__row-data 3055390
                            .info-table__row-data 2021-05-17 00:00:00
                            .info-table__row-data.data-value 0,00
                            .info-table__row-data ТЕСТОВЫЙ АБОНЕНТ
                        .info-table__content-row 
                            .info-table__row-data 3055390
                            .info-table__row-data 2021-05-17 00:00:00
                            .info-table__row-data.data-value 0,00
                            .info-table__row-data ТЕСТОВЫЙ АБОНЕНТ
        .calendar-layer.js--hidden    
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="https://github.com/jquery/jquery-ui/blob/master/ui/i18n/datepicker-ru.js")  
        script(src="./assets/js/main.min.js")  