doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        title Личный Кабинет | Услуги
    body.account-settings
        main.account-main
            include ./sidebar-temp.pug
            .account-content
                h1.account-content__header Услуги
                input#serviceControl(type="radio", name="service_control", checked)
                input#serviceInlined(type="radio", name="service_control")
                .account-content__container-toggler
                    label(for="serviceControl").container-toggler__handler Управление услугами 
                    label(for="serviceInlined").container-toggler__handler Подключенные услуги
                .serviceControl.account-content__container
                    .account-content__info-container.account-content__info-container--small
                        .info-container__header Управление услугами
                        .info-container__row
                            .info-container__data-empty  Нет доступных услуг
                .serviceInlined.account-content__container
                    .account-content__info-container.account-content__info-container--big
                        .info-container__header 
                            span Подключенные услуги
                            span.info-container__subheader
                        .info-container__row
                            .info-container__data-name Интернет по тарифу 00_Минимальный15000_300руб #1: Трафик (0.00 руб. Вх. 0.000 руб. Исх. 0.000 руб.)
                            .info-container__data-definition 
                                |2021-05-17
                                br
                                |00:00:00
                        .info-container__row
                            .info-container__data-name Интернет по тарифу 00_Минимальный15000_300руб #2: Трафик (0.00 руб. Вх. 0.000 руб. Исх. 0.000 руб.)
                            .info-container__data-definition
                                |2021-05-17
                                br
                                |00:00:00
                        .info-container__row
                            .info-container__data-name Абонентская плата по тарифу 00_Минимальный15000_300руб: Абонентская плата (300.00 руб. )
                            .info-container__data-definition 
                                |2021-05-17
                                br
                                |00:00:00
        script(src="./assets/js/main.min.js")  