doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, height=device-height,initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        title Forgot Password Page
    body 
        .authorization-screen.forgot-password-screen
            form.auth-form.form-apply-recover
                h2.auth-form__header Восстановление пароля
                label(for="personalInputLogin").auth-form__label Логин
                    input(type="text" id="personalInputLogin" name="login_field" placeholder="Логин", required).auth-form__input
                label(for="personalInputEmail").auth-form__label E-mail
                    input(type="email" id="personalInputEmail" name="email_field" placeholder="email@domain.zone", pattern = "\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}\b").auth-form__input
                button(type="submit").auth-form__button.auth-form__recover Восстановить
                a(href="./", target="_blank").auth-form__link Назад
            form.auth-form.form-recover-check.js--hidden 
                h3.auth-form__note-text Мы отправили Вам проверочный код по e-mail или sms. Введите код ниже, чтобы сменить свой пароль
                label(for="personalInputCode").auth-form__label Код
                    input(type="password" id="personalInputCode" name="auth-code_field" placeholder="*****", required).auth-form__input
                h4.auth-form__section-header Создать новый пароль
                label(for="personalInputNewPassword").auth-form__label Новый пароль
                    input(type="password" id="personalInputNewPassword" name="new-password_field" placeholder="******", required).auth-form__input
                label(for="personalInputConfirmPassword").auth-form__label Подтвердите пароль
                    input(type="password" id="personalInputConfirmPassword" name="conf-password_field" placeholder="******", required).auth-form__input
                button(type="submit").auth-form__button.auth-form__continue Продолжить
            form(action="./").auth-form.form-return-login.js--hidden 
                h2.auth-form__header Ваш пароль успешно восстановлен
                button(type="submit").auth-form__button.auth-form__return Вход
        script(src="./assets/js/main.min.js") 