mixin createMenuItem(itemName, itemLink)
    li.navigation-menu__item
        a(href=itemLink).navigation-menu__item-link=itemName
.account-sidebar 
    .account-sidebar--fixed
        .logo-section
            img(src="./assets/images/static/logo.svg", alt="Логотип компании")
        .account-navigation 
            ul.navigation-menu 
                +createMenuItem("Лицевой счет", "./account.html")
                li.navigation-menu__item
                    a(href="#").navigation-menu__item-link Статистика
                    .navigation-menu__item-container 
                        a(href="./account-stats.html").navigation-menu__item-link Статистика
                        a(href="./account-stats.html").navigation-menu__item-link Статистика
                +createMenuItem("Услуги", "./account-services.html")  
                +createMenuItem("Оплата", "./account-pay.html")  
                +createMenuItem("Операции с тарифами", "./account-rate.html")
                +createMenuItem("Обещанный платеж", "./account-credit.html") 
                +createMenuItem("Добровольная блокировка", "./account-block.html") 
                +createMenuItem("Документы", "./account-documents.html") 
                +createMenuItem("Настройки", "./account-settings.html") 
        form(action="./").log-section 
                button.log-section__logoff-button Выйти из кабинета
        form(action="./account-search.html").search-section--form    
            .search-section
                input#inputSearchField(type="text", name="accountSearchInput", placeholder="Поиск...", required).input-section__search-input
