.js--hidden {
    display: none !important;
}

.item--checked {
    color: #DB3840 !important;
}

.js--transformed {
    transform: translateY(-150vh);
    transition: transform 0.3s ease;
}

.js--scroll {
    overflow: hidden;
}