.filter-container__header {
    font-size: 26px;
    color: #000;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 18px;
}

.stats-form {
    display: flex;
    margin-bottom: 40px;
    align-items: flex-end;
    .stats-form__label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        width: 35%;
        .stats-form__input {
            border: 1px solid #cecaca;
            padding: 13px 4px 9px 15px;
            margin-right: 30px;
            max-height: 20px;
            border-radius: 4px;
            width: calc(95% - 19px);
            margin-top: 5px;
            outline: none;
            &::placeholder {
                color: #b4b1b1;
            }
            &:focus {
                border: 1px solid #26213f;
            }
        }
    }
    .stats-form__button {
        width: 28%;
        padding: 13px 0px 11px;
        color: #fff;
        max-height: 44px;
        border-radius: 4px;
        background-color: #26213f;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.account-content__filter-container {
    .info-table__header-column {
        border-right: 1px solid #cecaca;
    }
    .info-table__content-row {
        border-bottom: 1px solid #cecaca;
        .info-table__row-data {
            border-right: 1px solid #cecaca;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.statistic--mobile {
    .account-content {
        max-width: 90%;
    }
}

.account-content__info-table--mobile {
    max-width: 98%;
}

.account-content__header {
    max-width: 80%;
}

.account-content__filter-debts-container {
    .account-content__info-table {
        .info-table__header-column {
            border-right: 1px solid #cecaca;
            padding: 17px 0px 16px 15px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
            &:last-child {
                text-decoration: none;
            }
        }
        .info-table__content-row {
            border-bottom: 1px solid #cecaca;
            .info-table__row-data {
                border-right: 1px solid #cecaca;
                padding: 15px 2px 0 15px;
                font-size: 13px;
                line-height: 18px;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.stats--mobile {
    position: relative;
    .slider-button {
        width: 24px;
        height: 24px;
        background-color: #d22730;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        top: 75%;
        background-image: url("./assets/images/static/sliderArrow.svg");
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
        &--next {
            right: 0px;
        }
        &--prev {
            left: -10px;
            transform: rotate(-180deg) !important;
        }
    }
}

.account-content__info-table--mobile {
    pointer-events: none;
    .info-table__header-row .info-table__header-column:last-child {
        text-decoration: none;
    }
}

@media (max-width: 1200px) {
    .account-content__info-table--mobile {
        width: auto;
    }
}

@media (max-width: 620px) {
    .stats-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .stats-form__label {
            width: 100%;
            margin-bottom: 20px;
        }
        .stats-form__button {
            width: 97%;
        }
    }
    .account-content__info-table--mobile {
        width: auto;
        .info-table__content-row .info-table__row-data {
            min-width: 25%;
        }
        .info-table__header-row .info-table__header-column {
            padding: 11px 16px 11px 19px !important;
            min-width: 22%;
            font-size: 14px !important;
            line-height: 12px !important;
        }
    }
    .account-content__info-table--mobile {
        overflow-x: scroll;
        .info-table__header-row {
            .info-table__header-column {
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                padding: 11px 15px 11px 19px;
            }
            .info-table__header-column:last-child {
                display: flex;
            }
            .info-table__header-column:nth-child(2) {
                border-radius: 0;
            }
        }
        .info-table__content-row {
            .info-table__row-data:last-child {}
        }
    }
    .account-content__info-table .info-table__content-row .info-table__row-data:last-child,
    .account-content__info-table .info-table__header-row .info-table__header-column:last-child {
        display: block;
    }
}

@media (max-width: 520px) {
    .account-content__info-table--mobile {
        width: auto;
        .info-table__content-row .info-table__row-data {
            min-width: 25%;
        }
        .info-table__header-row .info-table__header-column {
            padding: 11px 14px 11px 19px !important;
            min-width: 22%;
        }
    }
}

@media (max-width: 520px) {
    .account-content__info-table--mobile {
        width: auto;
        .info-table__content-row .info-table__row-data {
            min-width: 25%;
        }
        .info-table__header-row .info-table__header-column {
            padding: 11px 16px 11px 19px !important;
            min-width: 21%;
        }
    }
}

@media (max-width: 376px) {
    .account-content__info-table--mobile {
        width: auto;
        .info-table__content-row .info-table__row-data {
            min-width: 25%;
        }
        .info-table__header-row .info-table__header-column {
            padding: 11px 16px 11px 16px !important;
            min-width: 21%;
        }
    }
}

// @media (max-width: 450px) {
//     .account-content__info-table--mobile {
//         max-width: px;
//     }
// }