    .rate-container {
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .rate-container__header {
            font-size: 26px;
            font-weight: 700;
            color: #000;
            line-height: 29px;
            margin-bottom: 20px;
        }
        .rate-form {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            .rate-form__label {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 59%;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                position: relative;
                .rate-form__input {
                    color: #000;
                    font-weight: 600;
                    font-size: 20px;
                    margin-top: 5px;
                    border: 1px solid #cecaca;
                    background-color: #fff;
                    border-radius: 4px;
                    padding: 13px 15px 9px;
                    width: calc(100% - 30px);
                    outline: none;
                    max-height: 18px;
                    &:hover {
                        border: 1px solid #504587;
                        cursor: pointer;
                    }
                    &:hover+.rate-form__arrow::after {
                        transform: rotate(180deg);
                        transition: transform 0.3s ease;
                        background-image: url("./assets/images/static/selectArrow.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        display: block;
                        width: 10px;
                        height: 10px;
                        content: "";
                        position: absolute;
                        right: -256px;
                        bottom: -55px;
                    }
                }
            }
            .rate-form__button {
                width: 39%;
                padding: 14px 0 10px;
                font-weight: 400;
                color: white;
                border: none;
                border-radius: 4px;
                background-color: #26213f;
                max-height: 44px;
                cursor: pointer;
                position: relative;
                &:after {
                    display: flex;
                    position: absolute;
                    background-image: url("./assets/images/static/selectArrow.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 10px;
                    height: 10px;
                    content: "";
                    position: absolute;
                    left: -40px;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                    transition: transform 0.3s ease;
                }
            }
        }
        .rate-form__modal {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border: 1px solid #504587;
            background-color: #fff;
            width: 208px;
            border-radius: 4px;
            top: 85px;
            position: absolute;
            .rate-form__option {
                width: calc(100% - 20px);
                padding: 10px 10px;
                border-bottom: 1px solid #504587;
                &:last-child {
                    border-bottom: none;
                }
                &:hover {
                    cursor: pointer;
                    font-weight: 700;
                    color: #504587;
                }
            }
        }
    }
    
    .js--rotate-arrow+.rate-form__button::after {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
        background-image: url("./assets/images/static/selectArrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 10px;
        height: 10px;
        content: "";
        position: absolute;
        left: -10px;
        top: 0;
    }
    
    @media (max-width: 1200px) {
        .serviceControl {
            .account-content__info-container--small {
                width: 85%;
            }
        }
    }
    
    @media (max-width: 800px) {
        .rate-container {
            .rate-form {
                .rate-form__button {
                    &:after {
                        left: 140%;
                        top: -116px;
                    }
                }
            }
        }
    }
    
    @media (max-width: 700px) {
        .rate-container .rate-form {
            flex-direction: column;
            align-items: flex-start;
        }
        .rate-form__input {
            margin-bottom: 20px;
        }
        .rate-form__button {
            &:after {
                right: 50px !important;
            }
        }
    }
    
    @media (max-width: 414px) {
        .rate-container .rate-form .rate-form__label {
            width: 100%;
        }
        .rate-container {
            .rate-form {
                .rate-form__button {
                    width: 100%;
                    &:after {
                        left: 90%;
                        top: -116px;
                    }
                }
            }
        }
    }